*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: var(--body);
    font-size: var(--taille-body-principal);
    background-color: var(--bleu-obcure); 
    line-height: 150%;
    font-weight: var(--taille-body-principal) ;
    overflow-x: hidden;
}

h1{
    font-family: var(--heding);
    line-height: 92%;
}
h2{
    font-family: var(--heding);
    line-height: 110%;
    font-size: var(--taille-heading-2);
}
h3{
    font-family: var(--heding);
    line-height: 150%;
    font-size: var(--taille-heading-3);
    font-weight: normal;
}
button,
input,
select,
textarea{
    appearance: none;
    border: none;
    outline: none;
    background:none;
    padding: 0;
    cursor: pointer;
}
button{
    font-family: var(--heding);
    font-size: var(--taille-bouton);
    letter-spacing: 0.15em;
}
button:hover{
    background-color: var(--bleu);
    transition: 0.3s ease-in-out;
}
figcaption {
    text-align: center;
    font-size: var(--taille-small-text);
    font-weight: normal;
    line-height: 160%;
    padding-bottom: 30px;
}
ul,
li{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    color: black;
    font-size: var(--taille-small-text);
}
.title-films-correles{
    display: flex;
    padding-top: 140px;
    margin-bottom: -50px;
    font-size: var(--taille-big-heading);
    font-weight: 500;
    font-style: normal;
    color: var(--couleurs-suplemanetaires-jaune);
    justify-content: center;
    line-height: 110%;
}
.landing-page{
    background-color: var(--gris-et-noirs-gris-claire);
}
.list-unstyled{
    list-style: none;
    padding: 0;
    margin: 0;
}
.noscroll{
    overflow: hidden;
}
.corps-video {
    display: block;
    width: 100vw;
    padding-top: 30px;
    position: relative;
    margin-left: calc(-50vw + 50%);
    height: auto;
}
.articles-title{
    font-weight: 600;
    font-style: normal;
    line-height: 110%;
    text-align: center;
    padding-top: 4rem;
}
.articles-title h2{
    font-weight: 650;
}
.artciles-ligne-title{
    background-color: black;
    border: none;
    display: inline-block;
    width: 14.75rem;
    height: 0.188rem;
    align-content: center;
}