.article-container{
    padding-top: 108px;
    max-width: 100%;
    margin: 0 auto;
}
.article-content{
    background: linear-gradient(180deg, rgba(183, 194, 230, 0.03) 0%, rgba(54, 185, 215, 0.20) 100%), var(--Gris-et-noirs-Gris-claire, #F3F2F2);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: 18px;
    overflow: hidden;
    padding-bottom: 60px;
}
.category-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}
.category-tag{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 0.8rem;
    color: black;
}
span.type img{
    width: 29px;
    height: 29px;
    margin-top: 10px;
}
.type-article{
    background-color: rgba(217, 217, 217, 1);
    padding: 5px 20px;
    padding-top: 7px;
    border-radius: 30px;
    font-size: 11px;
    font-weight: bold;
    line-height: 130%;
}
.form__container{
    min-height: 2px;
    border: solid 1px;
    padding-left:5px;
    padding-right:5px;
}
.form__content{
    justify-content: center;
}
.language-selector{
    display: flex;
    justify-content: flex-end;
    padding-top: 1px;
}
.lang-btn{
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
    color: black;
    background: none;
    border: none;
    cursor: pointer;
    font-size: var(--taille-bouton);
}
.lang-btn:hover{
    background-color: var(--bleu);
}
.divider{
    width: 1px;
    background-color: var(--bleu-obcure);
    margin: 0 2px;
    margin-top: 5px;
    height: 20px;
}

.article-title{
    font-size: var(--taille-heading-2);
    font-weight: 600;
    margin-bottom: 1.5rem;
    padding-top: 40px;
}
.article-meta{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 130%;
    color: var(--gris-et-noirs-gris-obscure);
}
.article-description{
    padding-top: 24px;
}
.article-image img{
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 2rem;
    display: block;
    margin-top: 44px;
    margin-bottom: 10px;
    overflow: hidden;
}
.corps-title{
    font-weight: 600;
    padding-bottom: 35px;
    padding-top: 30px;
}
.corps-image img{
    display: block;
    width: 100vw;
    padding-top: 30px;
    position: relative;
    margin-left: calc(-50vw + 50%);
    height: auto;
}
.articles-corps h3{
    font-weight: 600;
    line-height: 150%;
}
.corps-main cite{
    font-size: 16px;
    line-height: 160%;
}
.corps-list{
    padding: 0 20px;
}
/* ::marker{
    content: "◦";
} */
.corps-title-bas{
    display: flex;
    font-weight: 600;
    padding-top: 90px;
    padding-bottom: 30px;
}
.corps-title-bas::before{
    content: "";
    width: 5px;
    height: 148PX;
    margin-right: 20px;
    margin-top: 2px;
    flex-shrink: 0;
    background-color: var(--bleu-obcure);
}
.camilo-image{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: 0.5rem;
    scale: 0.9;
    margin-left: -7px;

}
.corps-title-box{
    background-color: var(--bleu-obcure);
    color: white;
    padding: 10px 18px;
    margin-right: 12rem;
    margin-bottom: 2rem;
    margin-top:3rem;
}
#cite-andrew{
    display: block;
    text-align: right;
    margin-top: 15px;
    padding-right: 10px;
}
#title-body{
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: var(--body);
    font-size: var(--taille-body-1);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
#remerciment{
    font-family: var(--heading);
    font-size: var(--taille-heading-2);
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    padding-top: 2rem;
}
#text-gracias{
    padding-top: 1rem;
    font-size: var(--taille-small-text);
    line-height: 160%;
    font-weight: 400;
}
.ligne__projects{
    background-color: black;
    height: 2px;
    margin-top: 19px;
    width: 290px;
}
.group-project{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 6rem;
    padding-bottom: 30px;
}
.link-wrapper{
    text-decoration: none;
    color: inherit;
    display: block;
    transition: all 0.3s ease;
}
.link-wrapper:hover{
    background-color: var(--bleu);
    border-radius: 20px;
}
.ligne__glossaire{
    background-color: black;
    width: 171px;
    height: 3px;
    border: none;
}
.corps-title-enbas{
    padding-top: 50px;
    font-family: var(--heading);
    font-size: var(--taille-heading-3);
    position: relative;
    padding-left: 20px;
}
.corps-title-enbas::before {
    content: '';
    position: absolute;
    margin-top: 55px;
    left: 0;
    top: 0;
    height: 43px;
    width: 5px;
    background-color: var(--bleu-obcure);
}